# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=

# MongoDB
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

# Valkey Session
VALKEY_SESSION_PORT=
VALKEY_SESSION_CONFIG_PATH=

# Valkey Cache
VALKEY_CACHE_PORT=
VALKEY_CACHE_CONFIG_PATH=
